<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Mocha Tests</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../node_modules/mocha/mocha.css" />
</head>
<body>
<div id="mocha"></div>
<script src="../node_modules/chai/chai.js"></script>
<script src="../node_modules/mocha/mocha.js"></script>
<script src="../node_modules/sinon/pkg/sinon.js"></script>
<script src="../src/htmx.js"></script>
<script class="mocha-init">
    mocha.setup('bdd');
    mocha.checkLeaks();
    should = chai.should();
</script>

<script>
    /* Utilities */
    function byId(id) {
        return document.getElementById(id);
    }

    function make(htmlStr) {
        let range = document.createRange();
        let fragment = range.createContextualFragment(htmlStr);
        for (let i = fragment.children.length - 1; i >= 0; i--) {
            const child = fragment.children[i];
            HTMx.processElement(child);
            document.body.appendChild(child);
        }
        return document.body.lastChild;
    }
</script>

<script>
    describe("Core HTMx Tests", function(){
        beforeEach(function() {
            this.server = sinon.fakeServer.create();
        });
        afterEach(function()  {
            this.server.restore();
        });

        // bootstrap test
        it('issues a GET request on click and swaps content', function()
        {
            this.server.respondWith("GET", "/core_test1", "Clicked!");

            let btn = make('<button hx-get="/core_test1">Click Me!</button>')
            btn.click();
            this.server.respond();
            btn.innerHTML.should.equal("Clicked!");
        });

        it('processes inner content properly', function()
        {
            this.server.respondWith("GET", "/core_test2", '<a hx-get="/core_test2_2">Click Me</a>');
            this.server.respondWith("GET", "/core_test2_2", "Clicked!");

            let div = make('<div hx-get="/core_test2"></div>')
            div.click();
            this.server.respond();
            div.innerHTML.should.equal('<a hx-get="/core_test2_2">Click Me</a>');
            let a = div.querySelector('a');
            a.click();
            this.server.respond();
            a.innerHTML.should.equal('Clicked!');
        });

        it('handles swap outerHTML properly', function()
        {
            this.server.respondWith("GET", "/core_test3", '<a id="a-outer-html-test" hx-get="/core_test3_2">Click Me</a>');
            this.server.respondWith("GET", "/core_test3_2", "Clicked!");

            let div = make('<div id="div-outer-html-test" hx-get="/core_test3" hx-swap="outerHTML"></div>')
            div.click();
            should.equal(byId("div-outer-html-test"), div);
            this.server.respond();
            should.equal(byId("div-outer-html-test"), null);
            byId("a-outer-html-test").click();
            this.server.respond();
            byId("a-outer-html-test").innerHTML.should.equal('Clicked!');
        });

        it('handles prepend properly', function()
        {
            let i = 0;
            this.server.respondWith("GET", "/core_test4", function(xhr){
                i++;
                xhr.respond(200, {}, '<a id="a-prepend-test-' + i + '" hx-get="/core_test4_2" hx-swap="innerHTML">' + i + '</a>');
            });
            this.server.respondWith("GET", "/core_test4_2", "*");

            let div = make('<div hx-get="/core_test4" hx-swap="prepend">*</div>')
            div.click();
            this.server.respond();
            div.innerText.should.equal("1*");

            byId("a-prepend-test-1").click();
            this.server.respond();
            div.innerText.should.equal("**");

            div.click();
            this.server.respond();
            div.innerText.should.equal("2**");

            byId("a-prepend-test-2").click();
            this.server.respond();
            div.innerText.should.equal("***");
        });

        it('handles append properly', function()
        {
            let i = 0;
            this.server.respondWith("GET", "/core_test5", function(xhr){
                i++;
                xhr.respond(200, {}, '<a id="a-append-test-' + i + '" hx-get="/core_test5_2" hx-swap="innerHTML">' + i + '</a>');
            });
            this.server.respondWith("GET", "/core_test5_2", "*");

            let div = make('<div hx-get="/core_test5" hx-swap="append">*</div>')
            div.click();
            this.server.respond();
            div.innerText.should.equal("*1");

            byId("a-append-test-1").click();
            this.server.respond();
            div.innerText.should.equal("**");

            div.click();
            this.server.respond();
            div.innerText.should.equal("**2");

            byId("a-append-test-2").click();
            this.server.respond();
            div.innerText.should.equal("***");
        });

    })
</script>

<script class="mocha-exec">
    mocha.run();
</script>
<em>Work Area</em>
<hr/>
</body>
</html>
