Thank you to all our generous <a href="https://github.com/sponsors/bigskysoftware?o=esb">sponsors</a>, including:

<!-- Platinum Sponsor -->
<div class="my-12">
    <h3 class="mb-6">Platinum Sponsor</h3>
    <div class="grid grid-cols-1 gap-8">
        <div class="flex items-center p-4 min-h-[100px]">
            <a data-github-account="commspace" href="https://www.commspace.co.za" class="block w-full transition-transform hover:scale-[1.03]">
                <img class="dark:hidden w-full max-w-full h-[120px] object-contain object-left md:object-center" src="/img/sponsors/logo-commspace-light.svg" alt="commspace"/>
                <img class="brightness-125 hidden dark:block w-full max-w-full h-[120px] object-contain object-left md:object-center dark:hover:brightness-125" src="/img/sponsors/logo-commspace-dark.svg" alt="commspace"/>
            </a>
        </div>
    </div>
</div>

<!-- Silver Sponsors -->
<div class="my-12">
    <h2 class="mb-6">Silver Sponsors</h2>
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4 md:gap-6">
        <!-- JetBrains -->
        <div class="flex items-center p-4 min-h-[75px]">
            <a data-github-account="JetBrainsOfficial" href="https://www.jetbrains.com" class="block w-full transition-transform hover:scale-[1.03]">
                <img src="/img/sponsors/logo-jetbrains.svg" alt="Jetbrains" class="w-4/5 md:md:mx-auto max-w-full h-[50px] object-contain object-left md:object-center object-left md:object-center dark:hover:brightness-125">
            </a>
        </div>

        <!-- GitHub -->
        <div class="flex items-center p-4 min-h-[75px]">
            <a href="https://github.blog/2023-04-12-github-accelerator-our-first-cohort-and-whats-next" class="block w-full transition-transform hover:scale-[1.03]">
                <img class="w-4/5 max-w-full h-[50px] object-contain object-left md:object-center md:mx-auto dark:hover:brightness-125 dark:invert" src="/img/sponsors/logo-github.png" alt="GitHub">
            </a>
        </div>

        <!-- Craft CMS -->
        <div class="flex items-center p-4 min-h-[75px]">
            <a data-github-account="craftcms" href="https://craftcms.com" class="block w-full transition-transform hover:scale-[1.03]">
                <img class="dark:hidden w-4/5 max-w-full h-[50px] object-contain object-left md:object-center md:mx-auto dark:hover:brightness-125" src="/img/sponsors/logo-craft-cms-light.svg" alt="craft cms">
                <img class="hidden dark:block w-4/5 max-w-full h-[50px] object-contain object-left md:object-center md:mx-auto dark:hover:brightness-125" src="/img/sponsors/logo-craft-cms-dark.svg" alt="craft cms">
            </a>
        </div>

        <!-- ButterCMS -->
        <div class="flex items-center p-4 min-h-[75px]">
            <a data-github-account="ButterCMS" href="https://buttercms.com/?utm_campaign=sponsorship&utm_medium=banner&utm_source=htmxhome" class="block w-full transition-transform hover:scale-[1.03]">
                <img class="w-4/5 max-w-full h-[50px] object-contain object-left md:object-center md:mx-auto dark:hover:brightness-125 dark:invert" src="/img/sponsors/logo-butter-cms.svg" alt="ButterCMS">
            </a>
        </div>

        <!-- Black Host -->
        <div class="flex items-center p-4 min-h-[75px]">
            <a data-github-account="Black-HOST" href="https://black.host" class="block w-full transition-transform hover:scale-[1.03]">
                <img class="w-4/5 max-w-full h-[50px] object-contain object-left md:object-center md:mx-auto dark:hover:brightness-125 dark:invert" src="/img/sponsors/logo-blackhost.svg" alt="Black Host">
            </a>
        </div>

        <!-- V7N -->
        <div class="flex items-center p-4 min-h-[75px]">
            <a href="https://www.v7n.com/" class="block w-full transition-transform hover:scale-[1.03]">
                <img class="dark:hidden w-4/5 max-w-full h-[50px] object-contain object-left md:object-center md:mx-auto dark:hover:brightness-125" src="/img/sponsors/logo-v7n-light.png" alt="V7N">
                <img class="hidden dark:block w-4/5 max-w-full h-[50px] object-contain object-left md:object-center md:mx-auto dark:hover:brightness-125" src="/img/sponsors/logo-v7n-dark.png" alt="V7N">
            </a>
        </div>

        <!-- Sekun Doggo -->
        <div class="flex items-center p-4 min-h-[75px] overflow-hidden">
            <a data-github-account="sekunho" href="https://tacohiro.systems/" class="block w-full transition-transform hover:scale-[1.03]">
                <img src="/img/sponsors/logo-sekun-doggo.jpg" alt="Hiro The Doggo" class="h-[80px] w-auto max-w-full object-contain object-left md:object-center md:mx-auto dark:hover:brightness-125">
            </a>
        </div>

        <!-- Das Filter -->
        <div class="flex items-center p-4 min-h-[75px]">
            <a href="https://dasfilter.shop/pages/affiliates" class="block w-full transition-transform hover:scale-[1.03]">
                <img class="not-dark:invert w-4/5 max-w-full h-[80px] object-cover object-left md:object-center md:mx-auto dark:hover:brightness-125" alt="Das Filter" src="/img/sponsors/logo-das-filter.svg">
            </a>
        </div>

        <!-- PullApprove -->
        <div class="flex items-center p-4 min-h-[75px]">
            <a href="https://www.pullapprove.com/?utm_campaign=sponsorship&utm_medium=banner&utm_source=htmx" class="block w-full transition-transform hover:scale-[1.03]">
                <img class="dark:invert w-4/5 max-w-full h-[50px] object-contain object-left md:object-center md:mx-auto dark:hover:brightness-125" src="/img/sponsors/logo-pullapprove.svg" alt="PullApprove"/>
            </a>
        </div>

        <!-- UI Bakery -->
        <div class="flex items-center p-4 min-h-[75px]">
            <a data-github-account="uibakery" href="https://uibakery.io" class="block w-full transition-transform hover:scale-[1.03]">
                <img class="dark:hidden w-4/5 max-w-full h-[50px] object-contain object-left md:object-center md:mx-auto dark:hover:brightness-125" src="/img/sponsors/logo-ui-bakery-light.svg" alt="UI Bakery">
                <img class="hidden dark:block w-4/5 max-w-full h-[50px] object-contain object-left md:object-center md:mx-auto dark:hover:brightness-125" src="/img/sponsors/logo-ui-bakery-dark.svg" alt="UI Bakery">
            </a>
        </div>

        <!-- Tracebit -->
        <div class="flex items-center p-4 min-h-[75px]">
            <a data-github-account="tracebit-com" href="https://tracebit.com/?utm_source=htmx" class="block w-full transition-transform hover:scale-[1.03]">
                <img class="dark:hidden w-4/5 max-w-full h-[50px] object-contain object-left md:object-center md:mx-auto dark:hover:brightness-125" alt="Tracebit Cloud Canaries" src="/img/sponsors/logo-tracebit-light.png">
                <img class="hidden dark:block w-4/5 max-w-full h-[50px] object-contain object-left md:object-center md:mx-auto dark:hover:brightness-125" alt="Tracebit Cloud Canaries" src="/img/sponsors/logo-tracebit-dark.png">
            </a>
        </div>

        <!-- RxDB -->
        <div class="flex items-center p-4 min-h-[75px]">
            <a data-github-account="pubkey" href="https://rxdb.info/?utm_source=sponsor&utm_medium=githubsponsor&utm_campaign=githubsponsor-htmx" class="block w-full transition-transform hover:scale-[1.03]">
                <img src="/img/sponsors/logo-rxdb.svg" alt="RxDB JavaScript Database" class="w-4/5 max-w-full h-[50px] object-contain object-left md:object-center md:mx-auto dark:hover:brightness-125">
            </a>
        </div>

        <!-- Ohne-Makler -->
        <div class="flex items-center p-4 min-h-[75px]">
            <a href="https://www.ohne-makler.net/" class="block w-full transition-transform hover:scale-[1.03]">
                <img src="/img/sponsors/logo-ohne-makler.svg" alt="Ohne-Makler" class="w-4/5 max-w-full h-[50px] object-contain object-left md:object-center md:mx-auto dark:hover:brightness-125">
            </a>
        </div>

        <!-- Cased -->
        <div class="flex items-center p-4 min-h-[75px]">
            <a data-github-account="cased" href="https://cased.com///" class="block w-full transition-transform hover:scale-[1.03]">
                <img class="dark:hidden w-4/5 max-w-full h-[50px] object-contain object-left md:object-center md:mx-auto dark:hover:brightness-125" alt="Developer friendly DevOps" src="/img/sponsors/logo-cased-dark.svg">
                <img class="hidden dark:block w-4/5 max-w-full h-[50px] object-contain object-left md:object-center md:mx-auto dark:hover:brightness-125" alt="Developer friendly DevOps" src="/img/sponsors/logo-cased-light.svg">
            </a>
        </div>

        <!-- LLC.org -->
        <div class="flex items-center p-4 min-h-[75px]">
            <a data-github-account="llcorg" href="https://www.llc.org/" class="block w-full transition-transform hover:scale-[1.03]">
                <img alt="How to start an LLC - a guide from LLC.org, proud open source sponsor" src="/img/sponsors/logo-llc-org.svg" class="dark:brightness-150 w-4/5 max-w-full h-[50px] object-contain object-left md:object-center md:mx-auto dark:hover:brightness-175">
            </a>
        </div>

        <!-- VPS Server -->
        <div class="flex items-center p-4 min-h-[75px]">
            <a data-github-account="VPSServerCom" href="https://www.vpsserver.com/" class="block w-full transition-transform hover:scale-[1.03]">
                <img class="dark:hidden w-4/5 max-w-full h-[50px] object-contain object-left md:object-center md:mx-auto dark:hover:brightness-125" alt="VPS Server Hosting in the Cloud: Cost Efficiency" src="/img/sponsors/logo-vps-server-light.svg">
                <img class="hidden dark:block w-4/5 max-w-full h-[50px] object-contain object-left md:object-center md:mx-auto dark:hover:brightness-125" alt="VPS Server Hosting in the Cloud: Cost Efficiency" src="/img/sponsors/logo-vps-server-dark.svg">
            </a>
        </div>

        <!-- a-blog cms -->
        <div class="flex items-center p-4 min-h-[75px]">
            <a data-github-account="appleple" href="https://www.a-blogcms.jp/" class="block w-full transition-transform hover:scale-[1.03]">
                <img src="/img/sponsors/logo-ablogcms.svg" alt="a-blog cms" class="dark:brightness-150 w-4/5 max-w-full h-[50px] object-contain object-left md:object-center md:mx-auto dark:hover:brightness-175">
            </a>
        </div>

        <!-- Broadband Map -->
        <div class="flex items-center p-4 min-h-[75px]">
            <a data-github-account="CoverageCritic" href="https://broadbandmap.com/" class="block w-full transition-transform hover:scale-[1.03]">
                <img class="dark:grayscale dark:invert dark:brightness-150 w-4/5 max-w-full h-[50px] object-contain object-left md:object-center md:mx-auto dark:hover:brightness-175" src="/img/sponsors/logo-broadband-map.png" alt="Find Internet Providers With Broadband Map">
            </a>
        </div>

        <!-- Follower24 -->
        <div class="flex items-center p-4 min-h-[75px]">
            <a data-github-account="Follower24" href="https://www.follower24.de/" class="block w-full transition-transform hover:scale-[1.03]">
                <img class="dark:hidden w-4/5 max-w-full h-[50px] object-contain object-left md:object-center md:mx-auto dark:hover:brightness-125" src="/img/sponsors/logo-follower-light.svg" alt="Follower24">
                <img class="hidden dark:block w-4/5 max-w-full h-[50px] object-contain object-left md:object-center md:mx-auto dark:hover:brightness-125" src="/img/sponsors/logo-follower-dark.svg" alt="Follower24">
            </a>
        </div>

        <!-- Exchange Rate API -->
        <div class="flex items-center p-4 min-h-[75px]">
            <a data-github-account="ExchangeRate-API" href="https://www.exchangerate-api.com" class="block w-full transition-transform hover:scale-[1.03]">
                <img class="dark:hidden w-4/5 max-w-full h-[50px] object-contain object-left md:object-center md:mx-auto dark:hover:brightness-125" src="/img/sponsors/logo-exchange-rate-api-light.png" alt="The Accurate & Reliable Exchange Rate API">
                <img class="hidden dark:block w-4/5 max-w-full h-[50px] object-contain object-left md:object-center md:mx-auto dark:hover:brightness-125" src="/img/sponsors/logo-exchange-rate-api-dark.png" alt="The Accurate & Reliable Exchange Rate API">
            </a>
        </div>
    </div>
</div>
