<html lang="en">
<head>
    <title>&lt;/> kutty - high power tools for html</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/site.css"/>
    <link rel="stylesheet" href="/css/prism-kutty.css"/>
    <script src="https://unpkg.com/prismjs@1.20.0/components/prism-core.min.js"></script>
    <script src="https://unpkg.com/prismjs@1.20.0/plugins/autoloader/prism-autoloader.min.js"></script>
    <script src="/js/kutty.js"></script>
    <script>
        kutty.logger = function(elt, event, data) {
            if(console) {
                //console.log(event, elt, data);
            }
        }
        kutty.onLoad(function(){
            Prism.highlightAll();
        })
    </script>
</head>
<body>
<div class="top-nav">
    <div class="c">
        <div class="row">
            <div class="2 col" kt-get="/" kt-target="body" kt-push-url="true">
                <span class="logo light">&lt;<a>/</a>&gt; k<a>u</a>tty</span>
            </div>
            {% if page.url.indexOf("/patterns/") == 0 %}
            <div class="10 col nav"> <!-- don't boost on demo pages, sinon hijacks everything :/ -->
            {% else %}
            <div class="10 col nav" kt-boost="true">
            {% endif %}
                <div class="row">
                    <div class="1 col">
                        <a href="/docs">docs</a>
                    </div>
                    <div class="1 col">
                        <a href="/reference">reference</a>
                    </div>
                    <div class="1 col">
                        <a href="/examples">examples</a>
                    </div>
                    <div class="6 col"></div>
                    <div class="1 col">
                        <a href="https://github.com/bigskysoftware/kutty">github</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>

<div class="content c">
    {{ content | safe }}
</div>
</body>
</html>
