<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HTMx Scratch File</title>
    <script src="../src/htmx.js"></script>
</head>
<body>

<h1>Scratch Page</h1>

<div>
    <button hx-get="foo.html">Trigger</button>
</div>

<div>
<button hx-get="foo.html" hx-target="#bar">Trigger 2</button><span id="bar">Bar</span>
</div>

<div>
    <button hx-get="foo.html" hx-target="#bar2" hx-swap-style="append">Trigger 3</button><span id="bar2">Bar</span>
</div>

<div>
    <button hx-get="foo.html" hx-swap-style="outerHTML">Trigger 4</button>
</div>

<form hx-post="/foo">
    <input name="bar" type="text"/>
    <input name="do" type="submit" value="foo"/>
</form>

</body>
</html>