---
interface Props {
    url: string;
    title: string;
    description?: string;
}

const {url, title, description} = Astro.props;
const hasLinks = Astro.slots.has('links');
---

{/* Switch selector to target the 'a' strictly inside the 'h2' */}
<div class="group relative isolate flex flex-col rounded-xl overflow-hidden transition outline-hidden
    bg-neutral-25 dark:bg-neutral-910
    border border-neutral-200 dark:border-neutral-800
    has-[h2_a:hover]:bg-neutral-50 dark:has-[h2_a:hover]:bg-neutral-800/30
    has-[h2_a:hover]:border-neutral-400
    dark:has-[h2_a:hover]:border-neutral-600
    has-[h2_a:focus-visible]:ring-2
    has-[h2_a:focus-visible]:ring-offset-2
    has-[h2_a:focus-visible]:ring-neutral-500
    dark:has-[h2_a:focus-visible]:ring-neutral-400">

    <div class="relative h-40 lg:h-44 w-full flex items-center justify-center transition">
        <slot/>
    </div>

    <div class="flex flex-col p-5 bg-white/50 dark:bg-neutral-920/50 border-t border-neutral-150 dark:border-neutral-900 transition
        group-has-[h2_a:hover]:bg-neutral-100 dark:group-has-[h2_a:hover]:bg-neutral-800/40
        group-has-[h2_a:hover]:border-neutral-300 dark:group-has-[h2_a:hover]:border-neutral-600">
        <h2 class="font-bold text-lg text-neutral-700 dark:text-neutral-300 group-interact:text-black dark:group-interact:text-white transition mb-2">
            <a href={url} class="outline-hidden">
                {title}
                <span class="absolute inset-0 z-10"></span>
            </a>
        </h2>
        {description && (
                <p class="text-sm text-neutral-600 dark:text-neutral-400 group-interact:text-neutral-950 dark:group-interact:text-neutral-50 leading-relaxed transition">
                    {description}
                </p>
        )}
        {hasLinks && (
                <div class="relative mt-4 z-20">
                    <slot name="links"/>
                </div>
        )}
    </div>
</div>
