body {
    margin: 40px auto;
    max-width: 740px;
    line-height: 1.6;
    font-size: 18px;
    color: #333;
    padding: 0 10px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif
}
h1, h2, h3 {
    line-height: 1.2
}
h1 {
}
.flair {
    color: rgb(52, 101, 164);
}

.hero {
    text-align: center;
    font-size: 4em;
    opacity: 5%;
    position: relative;
    top: -20px;
}

.hero.settle {
    top: 0px;
    opacity: 100%;
    transition: 500ms ease-in;
}

.nav {
    margin: 12px;
    position: absolute;
    top: 180px;
    left: 10px;
}

a {
  text-decoration: none;
}

.nav ul {
    padding-left: 12px;
    list-style: none;
}